html {
    background-color: bisque;
}

img {
    width: 100%;
}

.otis {
    width: 175px;
    height: 250px;
    transition: 1s ease;
    opacity:0.5;
}

.otis:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    opacity:1;
}

.duke {
    width: 175px;
    height: 250px;
    transition: 1s ease;
    opacity:0.5;
}

.duke:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    opacity:1;
}

.barcelona {
    width: 175px;
    height: 250px;
    transition: 1s ease;
    opacity:0.5;
}

.barcelona:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    opacity:1;
}

.snowvalley {
    width: 175px;
    height: 250px;
    transition: 1s ease;
    opacity:0.5;
}

.snowvalley:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    opacity:1;
}

#personalpictures {
    text-align: center;
    padding-top: 25px;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    top: 60px;
    left: 50px;
    font-size: 40px;
    color: brown;
}

h2,
h3 {
    color: brown;
    text-align: center;
    font-family: cursive;
    font-size: 25px;
    font-weight: 750;
    line-height: 3;
}

ul li {
    list-style: circle inside none;
}

ol li {
    list-style: number inside;
}

.education {

}

.experience {

}

.goals {

}

.bucketlist {
    padding-bottom: 75px;
}

main {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.3;
}

footer {
    text-align: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 25px;
    position: fixed;
    bottom: 0;
}